* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* width: 100%; */
    /* display: block; */
    box-sizing: border-box;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 2rem;
    color: #004aad;
}


/*  */

hr {
    margin: auto;
    width: 20vw;
    border: 10px solid black;
}

.carousel-caption {
    padding-top: 50px;
    z-index: 1;
}

h5 {
    color: black;
    font-size: 4rem;
    position: absolute;
    top: 0;
}

.carousel-caption p {
    color: grey;
    font-size: 2rem;
    font-family: Garamond;
}

.img-1 {
    width: 45vw;
}

.img-2 {
    width: 47vw;
}

.img-3 {
    width: 50vw;
}

.img-4 {
    width: 40vw;
}       

.carousel-inner {
    text-align: center;
}
.carousel-indicators .button-top{
    margin: 0px 10px;
    padding: 2px 2px;
    border-radius: 50%;
    background-color:#3586ff;
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    /* background-color: black; */
    border: none;
    height: 100vh;
}

.direction-btn {
    color: black;
}


/* top container  */

.container {
    text-align: center;
}

.container h1 {
    font-size: 3em;
}

.container img {
    /* height: 70vw; */
    width: 40%;
}

.container p {
    font-size: 2rem;
    /* color: #004aad; */
}

.space-corousal {
    line-height: 50px;
    z-index: 0;
    /* background-color: black; */
}

.carousel-item h1{
    font-size: 2.4em;
    font-weight: 500;
}
.carousel-item h4{
    font-size: 1.9em;
    font-weight: 400;
}

.carousel-item p {
    margin: auto 5vw;
    font-size: 1.8em;
    font-weight: 400;
    color: #004aad;
}

.carousel-indicators .ds{
    /* position: relative; */
    /* top: -222px; */
    border-radius: 50%;
    padding: 2px 2px;
    margin: 0px 10px;
    color: #004aad;
}

/* footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 300px;
    display: flex;
    text-align: center;
}

footer .social_icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -126px;
    flex-wrap: wrap;
    padding-top: 130px;
}

footer .social_icons li {
    list-style: none;
}

footer .social_icons li a {
    font-size: 2em;
    color: white;
    margin: 0 5px;
    display: inline-block;
    transition: 0.2s;
}

footer .social_icons li a:hover {
    transform: translateY(-10px);
}

footer .social_icons li a:hover .linkedin:hover {
    color: rgb(0, 0, 157);
}

footer .social_icons li a:hover .discord:hover {
    color: blue;
}

footer .social_icons li a:hover .insta:hover {
    color: palevioletred;
}

footer .social_icons li a:hover .github:hover {
    color: black;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.menu li {
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    margin: auto 15px;
    font-size: 1.4rem;
    transition: 0.2s;
}

.ds {
    display: none;
}

.menu li a:hover {
    transform: translateY(-10px);
}

.last-p {
    font-size: 1.2rem;
    color: white;
    margin-top: -13px;
} */

/* .waves {
    position: relative;
    bottom: 300px;
    background-color: none;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100px;
    background: white url(/images/wave.png);
}

#wave1 {
    z-index: 1000;
    opacity: 0.1;
    animation: animatewave_01 180s linear infinite;
}

#wave2 {
    z-index: 999;
    opacity: 0.5;
    animation: animatewave_02 180s linear infinite;
}

#wave3 {
    z-index: 998;
    opacity: 1;
    animation: animatewave_03 180s linear infinite;
}

@keyframes animatewave_01 {
    0% {
        background-position-x: 100000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animatewave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 100000px;
    }
}

@keyframes animatewave_03 {
    0% {
        background-position-x: 10000px;
    }
    100% {
        background-position-x: 0px;
    }
} */

@media(max-width: 2000px) {
    .carousel-caption p {
        position: relative;
    }
}

@media screen and (max-width: 400px){

    .container{
        margin-top: 50px;
    }
    .container h1{
        font-size: 1.8em;
    }
    .container img{
        width: 42vh;
    }
    .container p {
        font-size: 1.5em;
    }
    .h1{
        color: tomato;
    }
    .carousel-item p {
        font-size: 1em;
    }
    .carousel-item h1 {
        font-size: 1.6em;
    }
    .carousel-item h4 {
        font-size: 1.4em;
    }

    .carousel-indicators .ds{
        position: relative;
        top: -222px;
        border-radius: 50%;
        padding: 2px 2px;
        margin: 0px 10px;
        color: #004aad;
    }

    .carousel-indicators .button-top{
        position: relative;
        top: -222px;
    }
}

@media(max-width:380) {

    .carousel-item p {
    /* font-weight: 400; */
    margin: auto 5vw;
    font-size: 1em;
    }
    /* .carousel-item h1 {
        font-size: 2em;
    } */
    .waves img{
        border: none;
        background: transparent;
    }
}

