* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header h1 {
  text-align: center;
  font-size: 40px;
  color: white;
}

header {
  margin: 0px 0px;
}

.nav-items:hover {
  background-color: black;
}
.nav-item a:hover {
  border-bottom: 3px solid red;
}

.img-fluid {
  width: 500px;
} 

.btn {
  margin: auto;
  font-size: 20px;
  border-color: green;
  margin-right: 3px;
  text-align: center;
  margin-left: 30px;
}
.logo-image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

main {
  text-align: center;
}

section:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

section {
  min-height: 100vh;
}

.intro {
  background-image: url("/public/img/BrandHunt2.png");
  border-radius: 20px;
  background-color: #edf6ff;
  position:relative;
  top: 10px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 80vh;
  padding: 10px 10px;
  margin: 30px 20px;
  /* height: 10px; */
}

.first{
  margin: 5vw 0vw;
  min-height: 49vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: end;
}

.first .left{
  width: 60%;
  min-height: 49vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.first .left .txt {
  color: black;
  margin-top: 40px;
  /* margin-left: 1.8em; */
  font-weight: 500;
  font-size: 3em;
}
.first .left .txt2 {
  font-weight: 450;
  width: 80%;
  font-size: 1.8em;
  text-align-last: center;
  margin-left: 2em;
  color: #004aad;
}
.first .women{
  /* min-height: 50vh;
  max-width: 50vh; */
  display: flex;
  align-items: flex-end;
  flex-direction: row ;
  margin-right: 8%;
}

.first .women img{
  border-radius: 20px;
  height: 40vh;
  /* max-width: 370%; */
}
.women img:hover{
  box-shadow: 0px 0px 25px #999999;
  background-color: #004aad;
  cursor: pointer;
  transition: 0.6s;
}

/* .deal {
  padding: 3%;
  min-height: 30vh;
  max-width: 60vh;
  margin-left: 5%;
  border: 2px solid blue;
  border-radius: 20px;
  float: left;
  width: 27%;
  display: flex;
}

.chinfl {
  padding: 3%;
  min-height: 20vh;
  max-width: 60vh;
  margin-left: 40%;
  border: 2px solid blue;
  border-radius: 20px;
  float: center;
  width: 27%;
  display: flex;
}

.deal h3 {
  position: absolute;
  text-align: center;
  margin-top: 2%;
  left: 14%;
  font-weight: bold;
}
.deal h4 {
  margin-top: 30%;
  text-align: center;
  font-weight: lighter;
}
.deal .icon {
  position: absolute;
  display: block;
  min-width: 60px;
  height: 60px;
  top: 145%;
  left: 17%;
  text-align: center;
}

.deal .icon .fa {
  font-size: 60px;
}

.chinfl h3 {
  position: absolute;
  text-align: center;
  margin-top: 3%;
  right: 37%;
  font-weight: bold;
}
.chinfl h4 {
  margin-top: 30%;
  text-align: center;
  font-size: 5.8mm;
  font-weight: lighter;
}

.chinfl .icon {
  position: absolute;
  display: block;
  min-width: 60px;
  height: 60px;
  top: 145%;
  right: 43%;
  text-align: center;
}

.chinfl .icon .fa {
  font-size: 60px;
}

.pay {
  top: 40%;
  padding: 3%;
  min-height: 20vh;
  max-width: 60vh;
  margin-left: 40%;
  border: 2px solid blue;
  border-radius: 20px;
  float: right;
  display: flex;
}

.pay h3 {
  position: relative;
  text-align: center;
  margin-top: 3%;
  right: 37%;
  font-weight: bold;
}

.pay h4 {
  margin-top: 30%;
  text-align: center;
  font-size: 5.8mm;
  font-weight: lighter;
} */

  .wrapper{
    background-image: url("/public/img/arr.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 80px 60px;
    margin-bottom: 40px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.wrapper .box {
    position: relative;
    margin: 50px 10px;
  width: 350px;
  height: 450px;
  background-color: transparent;
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 20px;
  transition: 0.5s;
  float: right;
  flex-wrap: wrap;
  cursor: pointer;
}
.box:hover {
  box-shadow: 0px 0px 25px #999999;
  background-color: #fff;
}
.box h2 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
}
.box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #7a7a7a;
  padding-top: 15px;
}
.wrapper2{
  background-image: url("/public/img/arr.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 80px 60px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper2 .box2 {
    position: relative;
    margin: 50px 10px;
  width: 350px;
  height: 450px;
  background-color: transparent;
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 20px;
  transition: 0.5s;
  float: right;
  flex-wrap: wrap;
  cursor: pointer;
}
.box2:hover {
  box-shadow: 0px 0px 25px #999999;
  background-color: #fff;
}
.box2 h2 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
}
.box2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #7a7a7a;
  padding-top: 15px;
}

/* .box button {
  width: 180px;
  height: 55px;
  border-radius: 40px;
  border: none;
  margin-left: 20px;
  color: #fff;
  font-weight: bolder;
  background-color: #fe4c1c;
  font-size: 18px;
  border: 1px solid #fe4c1c;
  cursor: pointer;
  box-shadow: 12px 12px 20px 0 rgb(254 76 28 / 30%);
  transition: 0.5s;
  position: absolute;
  overflow: hidden;
  padding: 1px;
  top: 480px;
  left: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.box button:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 55px;
  top: 0;
  transition: 0.8s;
  left: -150%;
  bottom: 0;
  background: linear-gradient(to left, rgb(255 255 255 / 25%), transparent);
}
.box button:hover {
  box-shadow: none;
}
.box button:hover:before {
  left: 70%;
}
.box:hover button {
  position: absolute;
  top: 420px;
  left: 65px;
  transition: 0.5s;
  visibility: visible;
} */
.box ion-icon {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  color: #fe4c1c;
  margin-left: 10px;
}
.box2 ion-icon {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  color: #fe4c1c;
  margin-left: 10px;
}

.real {
  background: #fff;
  text-align: center;
  padding: 20px;
}

.real h1 {
  font-weight: 500;
  text-align: center;
  width: 40%;
  margin-left: 30%;
  font-size: 3em;
}

.realimg{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 96vw;
  margin: 40px auto;
}

.realimg .real_img {
  padding: 3px 3px;
  background-image: url(/public/img/edu.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 35vh;
  width: 35vw;
}

.realimg .real_img_2{
  padding: 3px 3px;
  background-image: url(/public/img/influencer_concept.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 40vh;
  width: 35vw;
}

.realimg .influencers_img {
  padding: 3px 3px;
  background-image: url(/public/img/img-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 40vh;
  width: 35vw;
}

.realimg .influencers_img_2 {
  padding: 3px 3px;
  background-image: url(/public/img/6.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 40vh;
  width: 35vw;
}

.second{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.second .money{
  padding: 10px 10px;
  border-radius: 20px;
}
.second .money img{
  object-fit: cover;
  height: 100%;
  max-width: 80vh;
}
.second .money:hover{
  box-shadow: 0px 0px 25px #999999;
  background-color: #fff;
  cursor: pointer;
  transition: 0.6s;
}

.second .txt3{
  padding: 10px 10px;
  width: 50%;
  margin: 34px 15px;
  display: flex;
  font-size: 3em;
  font-weight: 500;
  justify-content: flex-start;
  align-items: center;
}

@media(max-width:1024px) {

  /* body{
    width: fit-content;
  } */

  .intro {
    min-height: 40vh;
    width: 99vw;
    margin: 20px auto;
    background-color: #edf6ff;
    display: block;
  }

  .first{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 10vw;
  }


  .first .women {
    /* min-height: 31vh; */
    margin: 0px 0px;
    object-fit: contain;
  }
  .first .women img{
    object-fit: contain;
    max-width: 50vw;
    background-color: #fff;
  }
  .first .left{
    width: 70vw;
    min-height: 49vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    justify-content: space-evenly;
  }

  .first .left .txt{
    font-size: 2em;
    font-weight: 500;
    margin: 0;
    padding: 1px;

  }

  .first .left .txt2{
    font-weight: 400;
    width: 70vw;
    font-size: 1.2em;
    text-align: center;
    text-align-last: center;
    /* margin-left: 3.2em; */
    margin: 0;
    color: #004aad;
  }

.wrapper{
    margin: 40px auto;
    position: relative;
    top: -35px;
    /* left: 12px; */
    width: 48vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.wrapper .box {
  position: relative;
  top: 55px;
  margin: 30px 10px;
  width: 48vw;
  height: 63vh;
  background-color: transparent;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s;
  float: right;
  cursor: pointer;
}

.box:hover {
  box-shadow: 0px 0px 25px #999999;
  background-color: #fff;
}
.box h2 {
  font-size: 1.7em;
  font-weight: 500;
  letter-spacing: 2px;
}
.box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #7a7a7a;
  padding-top: 15px;
}
.box img{
  width: 44vw;
}
  .wrapper2{
    margin: 30px auto;
    position: relative;
    top: -50px;
    width: 48vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.wrapper2 .box2 {
  position: relative;
  top: 70px;
  margin: 30px 10px;
  width: 48vw;
  height: 63vh;
  background-color: transparent;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s;
  float: right;
  flex-wrap: wrap;
  cursor: pointer;
}

.box2:hover {
  box-shadow: 0px 0px 25px #999999;
  background-color: #fff;
}
.box2 h2 {
  font-size: 1.7em;
  font-weight: 500;
  letter-spacing: 2px;
}
.box2 p {
  font-size: 1em;
  font-weight: 400;
  line-height: 30px;
  color: #7a7a7a;
  padding-top: 15px;
}
.wrapper2 .box2 img{
  width: 44vw;
}

.second{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  /* left: 11px; */
  width: 70vw;
  margin: 30px auto;
}
.second .money{
  height: fit-content;
  display: block;
  margin: 20px 0;

}
.second .money img{
  object-fit: contain;
  max-width: 60vw;
  padding: 10px 10px;
}

.second .txt3{
  font-size: 2em;
  font-weight: 500;
  margin-left: 8px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px 4px;
  width: fit-content;
}

.real {
  position: relative;
  /* left: 27px; */
  top: 27px;
  background: #fff;
  text-align: center;
  padding: 20px;
}

.real h1 {
  font-weight: 500;
  text-align: center;
  width: 60vw;
  margin: 20px auto;
  font-size: 2em;
}

.real h4{
  font-size: 1.4em;
  font-weight: 400;
  color: #004aad;
}

.realimg{
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px auto;
}
.realimg .real_img {
  padding: 3%;
  min-height: 60vw;
  border-radius: 20px;
  width: 23vh;
}

.realimg .real_img_2{
  padding: 3%;
  min-height: 60vw;
  border-radius: 20px;
  width: 22vh;
}

.realimg .influencers_img {
  padding: 3%;
  min-height: 60vw;
  border-radius: 20px;
  width: 23vh;
}

.realimg .influencers_img_2{
  padding: 3%;
  min-height: 60vw;
  border-radius: 20px;
  width: 22vh;
}
}

@media (max-width:480px) {
.first .left{
  width: 99vw;
  text-align: center;
  text-align-last: center;
}
.first .left .txt{
  margin: 2px auto;
}
.first .left .txt2{
  width: 98vw;
}
.first .women img {
  width: 50vw;
  height: 30vh;
}
.second{
  width: 96vw;
}
.second .money img{
  width: 60vw;
}
}
