<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="57x57"
    href="https://www.returnrefundpolicytemplate.com/media/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60"
    href="https://www.returnrefundpolicytemplate.com/media/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72"
    href="https://www.returnrefundpolicytemplate.com/media/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76"
    href="https://www.returnrefundpolicytemplate.com/media/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114"
    href="https://www.returnrefundpolicytemplate.com/media/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120"
    href="https://www.returnrefundpolicytemplate.com/media/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144"
    href="https://www.returnrefundpolicytemplate.com/media/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152"
    href="https://www.returnrefundpolicytemplate.com/media/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://www.returnrefundpolicytemplate.com/media/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="https://www.returnrefundpolicytemplate.com/media/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://www.returnrefundpolicytemplate.com/media/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96"
    href="https://www.returnrefundpolicytemplate.com/media/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://www.returnrefundpolicytemplate.com/media/images/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage"
    content="https://www.returnrefundpolicytemplate.com/media/images/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>Return & Refund Policy</title>
  <link href="https://www.returnrefundpolicytemplate.com/media/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://www.returnrefundpolicytemplate.com/media/css/live.min.css" rel="stylesheet" />

  <meta name="robots" content="noindex" />

  <script async src='/cdn-cgi/challenge-platform/h/g/scripts/invisible.js'></script>
</head>

<body>
  <div class="wrapper">
    <div class="page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Return &amp; Refund Policy of <span class="website_url">https://brandshunt.in/</span></h2>
            <p>If you are not happy with your purchase, we will accept a return of a unused product within 14 days. Once
              we receive the returned item <span class="website_name">BrandHunt</span> will then give a full refund
              (excluding shipping as we are unable to refund the initial shipping cost of your order). Our Return &amp;
              Refund Policy was created by <a href="https://www.returnrefundpolicytemplate.com">Return Refund Policy
                Template</a> for <span class="website_url">https://brandshunt.in/</span></p>
            <p>Please allow 1-2 weeks for your return to be processed.</p>
            <p>Discounted items are not eligible for a return.</p>
            <p><span class="website_name">BrandHunt</span> will not issue refunds for products purchased through other
              entities, such as distributors or retail partners.</p>
            <p>Returned items must be delivered to us unused, in original packaging and in the condition they were
              received or may not be eligible for refund or be subject to a restocking fee. We cannot be held
              responsible for items damaged or lost in return shipment, therefore we recommend an insured and trackable
              mail service.</p>
            <p>We are unable to issue a refund without actual receipt of the item(s) or proof of received return
              delivery.</p>
            <p>We aim to accept all returns. In the unlikely event that an item is returned to us in an unsuitable
              condition, we may have to send it back to you. All goods will be inspected on return.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script
    type="text/javascript">(function () { window['__CF$cv$params'] = { r: '6b9da195bc60496b', m: 'F.iscZ3Q6cwJpUC3LBl9IxQUKhZr8PDoWiFGHfHLlEE-1638878821-0-AY+YCAREsF7vxOy4pNiXHFlCnuw8X1RkU+Es0NSDzzt629wRjXal4tKCtaeCNfu/vYjl21DXWpVOXvFAiYUHJ97O1zRDPjNJYZFCxrcx+5Kfds7P86NMpGJqbLoPDdiug0J7Gz+bSHbzDjuLX+WQsbDDjZP+U/ixOrYZ6Z2t0yuoeIQvbmGL2A02SbUzH//BmA==', s: [0xe50522a243, 0xa517808ed6], u: '/cdn-cgi/challenge-platform/h/g' } })();</script>
</body>

</html>